<ul id="slide-out" class="sidenav">
  <li>
    <div class="user-view">
      <div class="background">
        <img src="https://materializecss.com/images/office.jpg">
      </div>
      <cl-image *ngIf="public_id" [public-id]="public_id" class="thumbnail">
        <cl-transformation width="120" height="120" crop="fill">
        </cl-transformation>
      </cl-image>
      <a href="#email"><span class="white-text email">{{email}}</span></a>
    </div>
    <a class="waves-effect" routerLink="security/edit-profile">Edit Profile</a>
  </li>
  <li>
    <div class="divider"></div>
  </li>
  <div *ngIf="isLogged && role.toLowerCase() != 'admin'">
    <li>
      <a class="waves-effect" routerLink="publication">Publications</a>
    </li>
  </div>
  <li><a *ngIf="isLogged && role.toLowerCase() == 'admin'" class="subheader">Parameters</a></li>
  <li><a *ngIf="isLogged && role.toLowerCase() == 'admin'" class="waves-effect"
      routerLink="parameters/area-list">Area</a></li>
  <li><a *ngIf="isLogged && role.toLowerCase() == 'admin'" class="waves-effect"
      routerLink="parameters/category-list">Category</a></li>
</ul>
<a *ngIf="isLogged" href="#" data-target="slide-out"
  class="sidenav-trigger btn-floating btn-large waves-effect waves-light teal darken-3"><i
    class="material-icons">menu</i></a>