<div class="col s12 z-depth-6 card-panel">
    <form [formGroup]="fgValidator" class="col s4" id="reg-form">
        <div class="row">
            <div class="container col s12">
                <a routerLink="/upload-pics/upload-img" class="waves-effect green btn ">Upload Pic</a>
                <input id="profilePicPath" formControlName="profilePicPath" type="hidden" class="validate">
            </div>
            <div class="input-field col s6">
                <i class="material-icons prefix">account_circle</i>
                <input id="name" formControlName="name" type="text" class="validate" required>
                <label for="name">Company Name</label>
                <div class="warning-validator" *ngIf="fgv.name.errors && (fgv.name.dirty || fgv.name.touched)">
                    <strong *ngIf="fgv.name.errors.required">
                        This field is required.
                    </strong>
                    <strong *ngIf="fgv.name.errors.minlength">
                        This field must be at least {{nameMinLength}} long.
                    </strong>
                </div>
            </div>
            <div class="input-field col s4">
                <i class="material-icons prefix">phone</i>
                <input id="phone" type="text" formControlName="phone" class="validate" required>
                <label for="phone">Phone</label>
                <div class="warning-validator" *ngIf="fgv.phone.errors && (fgv.phone.dirty || fgv.phone.touched)">
                    <strong *ngIf="fgv.phone.errors.required">
                        This field is required.
                    </strong>
                    <strong *ngIf="fgv.phone.errors.minlength">
                        This field must be at least {{phoneMinLength}} long.
                    </strong>
                </div>
            </div>
            <div class="input-field col s4">
                <i class="material-icons prefix">perm_identity</i>
                <input id="nit" formControlName="nit" type="text" class="validate" required>
                <label for="nit">Nit</label>
                <div class="warning-validator" *ngIf="fgv.nit.errors && (fgv.nit.dirty || fgv.nit.touched)">
                    <strong *ngIf="fgv.nit.errors.required">
                        This field is required.
                    </strong>
                    <strong *ngIf="fgv.nit.errors.minlength">
                        This field must be at least {{codeMinLength}} long.
                    </strong>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">email</i>
                <input id="email" type="email" formControlName="email" class="validate" required>
                <label for="email">Email</label>
                <div class="warning-validator" *ngIf="fgv.email.errors && (fgv.email.dirty || fgv.email.touched)">
                    <strong *ngIf="fgv.email.errors.required">
                        This field is required.
                    </strong>
                    <strong *ngIf="fgv.email.errors.email">
                        This has to be a valid email.
                    </strong>
                </div>
            </div>
            <div class="input-field col s4">
                <i class="material-icons prefix">phone</i>
                <input id="address" type="text" formControlName="address" class="validate" required>
                <label for="address">Address</label>
                <div class="warning-validator" *ngIf="fgv.address.errors && (fgv.address.dirty || fgv.address.touched)">
                    <strong *ngIf="fgv.address.errors.required">
                        This field is required.
                    </strong>
                    <strong *ngIf="fgv.address.errors.minlength">
                        This field must be at least {{addressMinLength}} long.
                    </strong>
                </div>
            </div>
            <div class="input-field col s4">
                <i class="material-icons prefix">phone</i>
                <input id="postalCode" type="text" formControlName="postalCode" class="validate" required>
                <label for="postalCode">Postal Code</label>
                <div class="warning-validator"
                    *ngIf="fgv.postalCode.errors && (fgv.postalCode.dirty || fgv.postalCode.touched)">
                    <strong *ngIf="fgv.postalCode.errors.required">
                        This field is required.
                    </strong>
                    <strong *ngIf="fgv.postalCode.errors.minlength">
                        This field must be at least {{postalCodeMinLength}} long.
                    </strong>
                </div>
            </div>
            <div class="input-field col s4">
                <i class="material-icons prefix">security</i>
                <input id="password" type="password" formControlName="password" class="validate" required>
                <label for="password">Password</label>
                <div class="warning-validator"
                    *ngIf="fgv.password.errors && (fgv.password.dirty || fgv.password.touched)">
                    <strong *ngIf="fgv.password.errors.required">
                        This field is required.
                    </strong>
                    <strong *ngIf="fgv.password.errors.minlength">
                        This field must be at least {{passwordMinLength}} long.
                    </strong>
                </div>
            </div>
            <div class="input-field col s12 center">
                <button (click)="CompanyRegisterFN()" type="submit" class="waves-effect waves-light btn"><i
                        class="material-icons right">send</i>Register</button>
            </div>
        </div>
    </form>
</div>

